.about-highlight-section {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 85px 7% 50px;
    margin-top: -35px;
}

.about-highlight-bg {
    position: absolute;
    inset: 0;
    background: url("../assets/hero-about-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.03);
    z-index: 0;
}


.about-highlight-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(255, 250, 242, 0.92) 0%, rgba(255, 248, 240, 0.72) 32%, rgba(255, 248, 240, 0.15) 65%, rgba(255, 248, 240, 0.05) 100%);
    z-index: 1;
}

.about-highlight-container {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: auto;
}

.about-highlight-content {
    max-width: 500px
}

.about-highlight-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    animation: fadeUp 1s ease forwards;
}

/* BUTTON */

.about-btn {
    padding: 11px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* EXPLORE */

.explore-btn {
    background: linear-gradient(135deg, #e1a228, #af6a00);
    color: #fff;
    box-shadow: 0 15px 35px rgba(177, 112, 5, 0.25);
}

/* WHATSAPP */
.whatsapp-btn {
    background: rgba(255, 255, 255, 0.72);
    border: 2px solid rgba(71, 167, 82, 0.28);
    color: #2d8b42;
    backdrop-filter: blur(10px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.06);
}

/* HOVER */

.about-btn:hover {
    transform: translateY(-5px);
}

.about-us-section {
    position: relative;
    overflow: hidden;
    padding: 20px 5%;
    background: linear-gradient(180deg, #fffdfa 0%, #fbf5ee 100%);
}

/* DECOR */

.about-decor {
    position: absolute;
    pointer-events: none;
    opacity: 0.8;
}

.about-decor-left {
    left: -50px;
    top: 50%;
    width: 250px;
}

.about-decor-left2 {
    left: -20px;
    top: 100px;
    width: 130px;
}

.about-decor-right {
    right: -110px;
    top: 80px;
    width: 300px;
}

.about-us-container {
    position: relative;
    z-index: 2;
    margin: auto;
}

.about-us-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
    margin-bottom: 50px;
    padding: 0px 35px;
}

.about-us-image {
    position: relative;
    border-radius: 34px;
    overflow: hidden;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

.about-us-image img {
    width: 100%;
    display: block;
}

.about-us-content {
    padding-top: 20px;
    padding-right: 50px;
}

.about-small-title {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #c29042;
    margin-bottom: 10px;
    animation: fadeUp 1s ease forwards;
}

/* TITLE */

.about-main-title {
    font-size: 45px;
    line-height: 1.1;
    font-weight: 500;
    font-family: Georgia, serif;
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.2s;
    color: #6b0f0f;
    margin-bottom: 15px;
}

.about-main-title span {
    color: #8f1d12;
}

/* DESCRIPTION */
.about-description {
    font-size: 18px;
    line-height: 1.55;
    color: #51493f;
    font-weight: 400;
    margin-top: 15px;
    animation: fadeUp 1s ease forwards;
}

.why-section {
    text-align: center;
    margin-top: 10px;
    padding: 15px 55px;
}

.why-title {
    font-size: 45px;
    line-height: 1.1;
    color: #1f1f1f;
    font-family: Georgia, serif;
    margin-bottom: 15px;
    animation: fadeUp 1s ease forwards;
}

.about-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 35px;
}

.about-feature-card {
    background: linear-gradient(180deg, #f8f2e8 0%, #f4ede2 100%);
    border-radius: 30px;
    padding: 30px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: .35s;
    border: 1px solid #ebdcc2;
    box-shadow: 0 10px 20px rgba(175, 128, 59, .12);
}

.about-feature-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(180deg, rgba(255, 255, 255, .6), transparent);
    pointer-events: none;
}

.about-feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(175, 128, 59, .12);
}

.about-feature-icon {
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, .6), 0 8px 18px rgba(205, 165, 91, .5), 0 0 25px rgba(245, 215, 158, .5);
    position: relative;
    z-index: 2;
}

.about-feature-icon::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 18px;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    background: rgba(220, 185, 120, .18);
    filter: blur(10px);
    border-radius: 50%;
}

.about-feature-icon img {
    width: 100%;
    object-fit: contain;
}

.about-feature-title {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.2;
    color: #2f241d;
    margin-bottom: 15px;
    font-weight: 600;
}

.about-feature-text {
    font-size: 16px;
    line-height: 1.8;
    color: #57504a;
    padding: 10px 15px;
}

/* Founder Story */
.founder-story-section {
    position: relative;
    overflow: hidden;
    padding: 0px;
    background: linear-gradient(180deg, #fffdfa 0%, #fdf7ef 100%);
}

.founder-decor {
    position: absolute;
    pointer-events: none;
    opacity: 0.8;
}

.founder-top-decor {
    top: 100px;
    left: -10px;
    width: 140px;
}

.founder-bottom-decor {
    right: -85px;
    bottom: 120px;
    width: 245px;
    transform: rotate(290deg);
}

.founder-story-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}

/* FLOAT CARD */

.founder-quote-badge {
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #f8f2e8 0%, #cfc2ac 100%);
    border: 1px solid #ebdcc2;
    box-shadow: 0 10px 20px rgba(175, 128, 59, .12);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.quote-badge-icon {
    color: #c89135;
}

.quote-badge-icon img {
    width: 40px;
}

.quote-badge-text {
    font-size: 19px;
    line-height: 1.4;
    color: #6d4c33;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    animation: fadeUp 1s ease forwards;
}

.founder-small-title {
    color: #9b3325;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 7px;
    text-align: center;
    animation: fadeUp 1s ease forwards;
}

.founder-main-title {
    font-size: 45px;
    line-height: 1.1;
    font-weight: 500;
    font-family: Georgia, serif;
    animation: fadeUp 1s ease forwards;
    color: #4e291d;
    margin-bottom: 15px;
    text-align: center;
    animation: fadeUp 1s ease forwards;
}

.founder-main-title span {
    display: block;
    color: #8f2018;
}

/* DIVIDER */
.about-top-label-wrap {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: baseline;
}

.about-icon {
    width: 55px;
}

.about-divider {
    width: 75px;
    height: 15px;
    display: block;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
}

.about-divider:nth-child(3) {
    transform: rotate(180deg);
}

.founder-description {
    font-size: 18px;
    line-height: 1.35;
    font-weight: 400;
    color: #51453b;
    width: 80%;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 25px;
    animation: fadeUp 1s ease forwards;
}

.founder-quote-box {
    position: relative;
    background: #f7efe3;
    border: 1px solid rgba(232, 205, 168, 0.65);
    border-radius: 32px;
    padding: 35px 15px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
    font-family: Georgia, serif;
    width: 90%;
    margin: auto;
    text-align: center;
    animation: fadeUp 1s ease forwards;
}

.founder-quote-text {
    font-size: 27px;
    line-height: 1.45;
    color: #5b3527;
    width: 75%;
    margin: auto;
    font-weight: 500;
}

.quote-mark {
    position: absolute;
    font-size: 100px;
    color: #d89b35;
    line-height: 1;
}

.quote-left {
    top: 20px;
    left: 30px;
}

.quote-right {
    right: 45px;
    bottom: -15px;
}

.founder-feature-strip {
    padding: 0px 150px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
    position: relative;
    z-index: 2;
}

.founder-feature-item {
    background: #f7efe3;
    border: 1px solid rgba(230, 206, 170, 0.5);
    border-radius: 20px;
    padding: 13px 15px;
    display: flex;
    align-items: center;
    gap: 18px;
    backdrop-filter: blur(10px);
}

/* ICON */

.feature-icon {
    background: #f7efe3;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(223, 197, 151, 0.4);
}

.feature-icon img {
    width: 110%;
}

/* TEXT */

.feature-text {
    font-size: 18px;
    line-height: 1.5;
    color: #4b3f36;
    font-weight: 600;
}

.founder-bottom-wave {
    margin-top: 50px;
    width: 100%;
}

.founder-bottom-wave img {
    width: 100%;
    display: block;
}

.founder-image-area {
    order: 2;
}

.founder-content-area {
    order: 1;
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 75px;
}

.founder-image-wrapper {
    position: relative;
    overflow: hidden;
    padding: 5px;
    background: linear-gradient(180deg, #f3d99b, #e2b85f);
    border-radius: 150px 0px 150px 150px;
    margin-top: -5px;
    margin-right: -5px;
    box-shadow: -3px 8px 20px 4px rgba(0, 0, 0, 0.25);
}

.founder-image {
    display: block;
    width: 100%;
    border-radius: 145px 0px 145px 145px;
}

.founder-image-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid rgba(240, 212, 151, .5);
    border-radius: 150px 0px 150px 150px;
    pointer-events: none;
}

/*TestiMonial*/
.testimonial-section {
    padding: 50px 5%;
    overflow: hidden;
    background: linear-gradient(180deg, #f9f1e4 0%, #f7eddc 100%);
}

.testimonial-heading {
    text-align: center;
    color: #36251d;
    font-size: 45px;
    line-height: 1.1;
    font-family: Georgia, serif;
    margin-bottom: 15px;
    animation: fadeUp 1s ease forwards;
}

.testimonial-wrapper {
    position: relative;
    margin-top: 20px;
}

.testimonial-track-container {
    overflow: hidden;
    padding: 40px 50px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.testimonial-track {
    display: flex;
    gap: 40px;
    transition: transform .6s ease;
    will-change: transform;
}

.testimonial-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
}

.testimonial-prev {
    left: -70px;
}

.testimonial-next {
    right: -70px;
}

.testimonial-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.gg-card {
    flex: 0 0 calc(25% - 25px);
}

.testimonial-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e5d3b3;
    cursor: pointer;
    transition: .3s;
}

.testimonial-dot.active {
    background: #c48a2c;
    transform: scale(1.2);
}

.cta-section {
    position: relative;
    height: 300px;
    overflow: hidden;
    background: url("../assets/cta-bg.png") center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .08);
}

.cta-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(70, 25, 10, .25), rgba(140, 65, 25, .15));
}

.cta-content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 550px;
}

.cta-title {
    font-family: Georgia, serif;
    font-size: 34px;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500;
    animation: fadeUp 1s ease forwards;
}

.cta-text {
    font-size: 18px;
    line-height: 1.4;
    color: rgba(255, 255, 255, .92);
    margin-bottom: 15px;
    animation: fadeUp 1s ease forwards;
}

.cta-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 18px;
    background: #2fa844;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .18);
    transition: .35s;
}

.cta-btn:hover {
    transform: translateY(-4px);
}

.cta-btn i {
    font-size: 30px;
}

.cta-btn {
    border: 2px solid rgba(255, 255, 255, .25);
    backdrop-filter: blur(10px);
}

.cta-btn:hover {
    background: #24953a;
}

@media(max-width:1200px) {

    .cta-section {
        background-position: right center;
    }

    .cta-content {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
    }

    .cta-title {
        font-size: 42px;
    }

    .cta-text {
        font-size: 17px;
        line-height: 1.5;
    }

    .testimonial-track-container {
        padding: 10px 15px;
    }

    .testimonial-track {
        padding-bottom: 10px;
    }

    .about-us-section {
        padding: 0px;
    }

    .about-us-top {
        padding: 0px;
        flex-direction: column;
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
    }

    .about-us-image {
        order: 2;
        border-radius: 0px;
    }

    .about-us-content {
        order: 1;
        padding: 25px 65px;
    }

    .about-small-title {
        text-align: center;
    }

    .about-main-title {
        text-align: center;
    }

    .about-description {
        padding: 5px 75px;
        line-height: 1.2;
    }

    .about-features {
        display: flex;
        scroll-snap-type: x mandatory;
        gap: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 35px 20px;
    }

    .about-feature-card {
        max-width: 100%;
        flex: 0 0 50%;
    }

    .founder-main-title span {
        display: inline-block;
        ;
    }

    .founder-content-area {
        padding: 25px 65px;
        position: relative;
    }

    .founder-story-container {
        gap: 0px;
        flex-direction: column;
        display: flex;
    }

    .founder-description {
        width: 100%;
    }

    .founder-image-wrapper {
        margin-top: 0px;
    }

    .founder-feature-strip {
        display: flex;
        margin-top: 15px;
        padding: 10px;
        gap: 10px;
        animation: featureMarquee 20s linear infinite;
        width: max-content;
    }

    .founder-feature-item {
        padding: 15px;
        flex: 0 0 auto;
        background: transparent;
    }

    .feature-icon {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
    }

    .feature-text {
        font-size: 15px;
    }

    .founder-bottom-wave {
        margin-top: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .founder-bottom-wave img {
        width: auto;
    }

    .testimonial-section {
        padding: 15px 5%;
    }

    .testimonial-dots {
        margin-top: 15px;
    }

    .testimonial-arrow {
        width: 40px;
        height: 40px;
    }

    .testimonial-prev {
        left: -20px;
    }

    .testimonial-next {
        right: -20px;
    }

    .gg-card {
        max-width: 280px;
        flex: 0 0 100% !important;
        scroll-snap-align: center;
    }

}

@media(max-width:768px) {

    .about-highlight-section {
        padding: 10px 15px;
        min-height: auto;
        padding-top: 55px;
    }

    .about-highlight-buttons {
        margin-bottom: 13px;
        gap: 10px;
    }

    .about-btn {
        font-size: 13px;
        padding: 10px 12px;
        gap: 5px;
    }

    .about-small-title {
        font-size: 13px;
        margin-bottom: 0px;
    }

    .about-main-title {
        padding: 0px;
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 5px;
    }

    .about-description {
        margin-top: 5px;
        font-size: 15px;
        line-height: 1.3;
        padding: 0px;
    }

    .why-section {
        padding: 0px;
    }

    .why-title {
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 5px;
    }

    .founder-story-section {
        padding: 0px;
    }


    .founder-image-area {
        order: 2;
    }

    .founder-small-title {
        font-size: 13px;
        text-align: center;
        margin-bottom: 0px;
    }

    .founder-main-title {
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 8px;
    }

    .about-divider {
        width: 50px;
        height: 8px;
    }

    .about-icon {
        width: 45px;
    }

    .founder-description {
        font-size: 13px;
        line-height: 1.35;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .founder-quote-box {
        padding: 20px 12px;
        border-radius: 16px;
    }

    .quote-left {
        left: 5px;
    }

    .quote-right {
        right: 5px;
        bottom: -10px;
    }

    .founder-quote-text {
        font-size: 18px;
        line-height: 1.2;
        width: 90%;
    }

    .quote-mark {
        font-size: 50px;
    }

    .founder-quote-badge {
        min-width: auto;
        width: auto;
        padding: 10px;
        bottom: 20px;
        justify-content: center;
    }

    .quote-badge-text {
        font-size: 14px;
    }

    .quote-badge-icon img {
        width: 30px;
    }

    .testimonial-heading {
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 8px;
    }

    .testimonial-section {
        padding: 10px 5%;
    }

    .cta-title {
        font-size: 25px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 8px;
    }

    .cta-text {
        font-size: 15px;
    }

    .cta-btn {
        font-size: 16px;
        padding: 12px 18px;
    }

    .cta-section {
        height: 240px;
    }

    .cta-btn i {
        font-size: 25px;
    }

}

@media(max-width:480px) {

    .testimonial-arrow {
        display: none;
    }

    .about-feature-card {
        max-width: 100%;
        flex: 0 0 auto;
    }

    .about-highlight-overlay {
        background: linear-gradient(180deg, rgba(255, 248, 240, 0.75) 0%, rgba(255, 248, 240, 0.88) 45%, rgba(255, 248, 240, 0.65) 100%);
    }

    .about-highlight-content {
        max-width: 100%;
    }

    .founder-content-area {
        padding: 25px 15px;
    }

    .about-us-content {
        padding: 25px 15px;
    }

    .founder-quote-badge {
        width: 75%;
    }

    .founder-image-wrapper {
        border-radius: 80px 0px 80px 0px;
    }

    .founder-image-wrapper::before {
        border-radius: 80px 0px 80px 0px;
    }

    .founder-image {
        border-radius: 75px 0px 75px 0px;
    }
}

@keyframes featureMarquee {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}