/* HERO SECTION */
.hero-section {
    position: relative;
    overflow: hidden;
    margin-top: -35px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 85px 7% 50px;
    background:
        linear-gradient(90deg,
            rgba(255, 248, 235, 0.96) 0%,
            rgba(255, 248, 235, 0.88) 35%,
            rgba(255, 248, 235, 0.35) 55%,
            rgba(255, 248, 235, 0.05) 70%),
}

.hero-bg {
    position: absolute;
    inset: 0;
    background:
        linear-gradient(90deg,
            rgba(255, 248, 235, 0.96) 0%,
            rgba(255, 248, 235, 0.88) 35%,
            rgba(255, 248, 235, 0.35) 55%,
            rgba(255, 248, 235, 0.05) 70%),
        url("../assets/hero-home-bg.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    /* POPUP EFFECT */
    opacity: 0;
    transform: scale(1.08);

    animation: bgReveal 1.8s ease forwards;
    animation-delay: 0.2s;
}

/* LEFT CONTENT */

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 680px;
    animation: heroPopup 1.2s ease forwards;
}

.hero-content .hero-title {
    font-size: 45px;
    line-height: 1.05;
    font-weight: 500;
    color: #6b0f0f;
    font-family: Georgia, serif;
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

/* DIVIDER */

.hero-divider {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.hero-divider .divider-img {
    width: 180px;
    margin: auto;
}

/* PARAGRAPH */

.hero-content p {
    font-size: 18px;
    color: #3f3f3f;
    max-width: 720px;
    margin-bottom: 18px;
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

/* BUTTONS */

.hero-buttons {
    display: flex;
    gap: 24px;
    margin-bottom: 55px;
    flex-wrap: wrap;
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.hero-btn {
    padding: 11px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
}

.hero-btn,
.feature-box {
    transition: all 0.4s ease;
}

.primary-btn {
    background: linear-gradient(135deg, #d84b11, #a60000);
    color: #fff;
    box-shadow: 0 10px 30px rgba(180, 60, 0, 0.25);
}

.primary-btn:hover {
    transform: translateY(-4px);
}

.secondary-btn {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    color: #2d2d2d;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.secondary-btn i {
    color: #45b035;
    font-size: 30px;
}

.secondary-btn:hover {
    transform: translateY(-4px);
}


/* FEATURES */

.hero-features {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    background: rgba(255, 248, 238, 0.65);
    backdrop-filter: blur(10px);
    padding: 18px 18px;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
}

.hero-features .divider {
    width: 2px;
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.feature-box {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 175px;
}

.feature-icon {
    border-radius: 50%;
    background: #e8c37c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.feature-box span {
    font-size: 15px;
    color: #3b2f24;
    font-weight: 500;
}

@media(max-width:991px) {

    
}

@media(max-width:768px) {

    .hero-section {
        padding: 10px 20px;
        min-height: auto;
        padding-top: 55px;
    }

    .hero-content {
        max-width: 375px;
    }

    .hero-content .hero-title {
        font-size: 28px;
        text-align: center;
        margin-bottom: 10px;
    }

    .hero-content p {
        font-size: 15px;
    }

    .hero-divider {
        margin-bottom: 10px;
    }

    .hero-divider .divider-img {
        width: 150px;
    }

    .hero-buttons {
        margin-bottom: 15px;
    }

    .hero-btn {
        font-size: 14px;
        padding: 10px 12px;
    }

    .hero-features {
        width: 100%;
        padding: 10px;
        gap: 6px;
        justify-content: center;
    }

    .feature-box span {
        font-size: 11.5px;
    }

    .feature-img {
        width: 30px;
        height: 30px;
    }

    .hero-features .divider {
        height: 30px;
        margin: 0px;
    }

    .feature-box {
        width: auto;
        gap: 5px;
        max-width: 100px;
    }
}

@media(max-width:450px) {

}


/* MAIN POPUP */

@keyframes heroPopup {

    0% {
        opacity: 0;
        transform:
            translateY(80px) scale(0.92);
        filter: blur(10px);
    }

    60% {
        opacity: 1;
        transform:
            translateY(-10px) scale(1.02);
        filter: blur(0);
    }

    100% {
        opacity: 1;
        transform:
            translateY(0) scale(1);
        filter: blur(0);
    }
}

/* FADE UP */

@keyframes fadeUp {

    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bgReveal {

    from {
        opacity: 0;
        transform: scale(1.08);
        filter: blur(8px);
    }

    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}