<!-- Top Bar -->
<div class="top-bar">
    <div class="left-content">
        <i class="fa-solid fa-spa"></i>
        <span>Bringing Positivity, Wellness & Spiritual Balance</span>
    </div>
    <div class="right-content">
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <div class="divider"></div>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <div class="divider"></div>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <div class="divider"></div>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</div>
<!-- Navigation Bar -->
<nav class="navbar">
    <!-- LEFT -->
    <div class="logo-area">
        <a href="#">
            <img src="../assets/logo.png" alt="Guru and Goodness Logo" class="logo-img">
        </a>
    </div>
    <!-- CENTER -->
    <div class="nav-menu">
        <a href="index.html" class="active">Home</a>
        <a href="about/">About</a>
        <a href="shop/">Shop</a>
        <a href="consultancy/">Consultancy</a>
        <a href="blog/">Blog</a>
        <a href="contact/">Contact</a>
    </div>
    <!-- HAMBURGER -->
    <button class="menu-toggle" id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
</nav>