<div class="mobile-menu-panel">
    <!-- BACKGROUND PNG ELEMENTS -->
    <img src="{{BASE_PATH}}assets/mandala.png" class="menu-mandala" alt="">
    <img src="{{BASE_PATH}}assets/lotus_wave.png" class="menu-lotus" alt="">
    <!-- MENU LINKS -->
    <div class="mobile-menu-links">

        <a href="{{BASE_PATH}}" class="mobile-menu-link">
            <div class="menu-link-left">
                <i class="fa-solid fa-house menu-icon"></i>
                <span>Home</span>
            </div>
            <i class="fa-solid fa-chevron-right menu-arrow"></i>
        </a>

        <a href="{{BASE_PATH}}about/" class="mobile-menu-link">
            <div class="menu-link-left">
                <i class="fa-regular fa-circle-question menu-icon"></i>
                <span>About</span>
            </div>
            <i class="fa-solid fa-chevron-right menu-arrow"></i>
        </a>

        <a href="{{BASE_PATH}}shop/" class="mobile-menu-link">
            <div class="menu-link-left">
                <i class="fa-solid fa-bag-shopping menu-icon"></i>
                <span>Shop</span>
            </div>
            <i class="fa-solid fa-chevron-right menu-arrow"></i>
        </a>

        <a href="{{BASE_PATH}}shop/?category=spiritual" class="mobile-menu-link">
            <div class="menu-link-left">
                <i class="fa-solid fa-spa menu-icon"></i>
                <span>Spiritual Products</span>
            </div>
            <i class="fa-solid fa-chevron-right menu-arrow"></i>
        </a>

        <a href="{{BASE_PATH}}shop/?category=crystals" class="mobile-menu-link">
            <div class="menu-link-left">
                <i class="fa-regular fa-gem menu-icon"></i>
                <span>Healing Crystals</span>
            </div>
            <i class="fa-solid fa-chevron-right menu-arrow"></i>
        </a>

        <a href="{{BASE_PATH}}consultancy/" class="mobile-menu-link">
            <div class="menu-link-left">
                <i class="fa-solid fa-hands-praying menu-icon"></i>
                <span>Consultancy</span>
            </div>
            <i class="fa-solid fa-chevron-right menu-arrow"></i>
        </a>

        <a href="{{BASE_PATH}}blog/" class="mobile-menu-link">
            <div class="menu-link-left">
                <i class="fa-regular fa-pen-to-square menu-icon"></i>
                <span>Blog</span>
            </div>
            <i class="fa-solid fa-chevron-right menu-arrow"></i>
        </a>

        <a href="{{BASE_PATH}}contact/" class="mobile-menu-link">
            <div class="menu-link-left">
                <i class="fa-regular fa-envelope menu-icon"></i>
                <span>Contact</span>
            </div>
            <i class="fa-solid fa-chevron-right menu-arrow"></i>
        </a>

    </div>
    <!-- SOCIAL -->
    <div class="mobile-social-wrapper">
        <div class="mobile-social-title">
            Follow Us
        </div>
        <div class="mobile-socials">
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div>
</div>